.bg 
{
    /*background*/
    background:url("pics/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}