/*Font*/
body
{
    /* font-family: 'Sedgwick Ave', cursive;*/
    font-family: 'Dosis', sans-serif;
}

h1
{
    font-family: 'Sedgwick Ave', cursive;
}

/* Border
div
{
border:1px solid gray
} */

/*button - click me*/
.my_btn_color
{
background-color:red;

}

.btn-primary
{
    background-color: #5bc0de;
    border-color: #46b8da;

}
/*Background of Row 1*/
.jumbotron
{
    /*background-color: powderblue */
    background-image:url(photos/bokeh.png);
    background-attachment:fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

/*font color*/
h1
{
Color: white !important;

}

.my_icon_color /*color of icon on bottom footer*/
{
color: black

}

.my_link:hover /*removes the underline on the phone number and email when the mouse hovers*/
{
text-decoration:none;
}

.my_link /*changed color to black when link is clicked*/
{
color: black
}

.general_spacing
{
margin-bottom:100px;

}
.jumbotron_font /*what are you waiting for*/
{
color:whitesmoke
}

.about_header_pic
{
width:20px;


}

.bg 
{
    /*background*/
    background:url("photos/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}