
h1
{
color: blue
font-size: 20px;
}

.my_title_1
{
    color: aquamarine;
}

.my_background
{
    background-image:url(photos/sand.jpg); /*change background image*/
    background-size: cover; /*cover or contain*/
    background-repeat: no-repeat; 
    background-attachment:fixed;
}